/** 
 * Variables
 */

// Colors
$color-base: #0b0c0c;
$color-primary: rgba(0, 14, 40, 0.8);
$color-secondary: #f1c40f;

$color-white: #fff;
$color-gray: lighten($color-base, 40%);
$color-gray-border: lighten($color-base, 77%);
$color-gray-bg: lighten($color-base, 79%);

// Typographic
$heading-font-family: "Roboto Condensed", Sans-Serif;
$typographic-font-family: "Cabin", Sans-Serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 18px;
$typographic-small-font-size: 16px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $color-base;
$typographic-link-p-font-color: $color-primary;
$typographic-link-s-font-color: $color-secondary;

$link-color: #1d70b8;
$link-hover-color: #003078;

$typographic-leading: round(
  16 * ($typographic-root-font-size / 100) * $typographic-base-line-height
);

// Buttons
$button-height: 35px;
$button-border-radius: 20px;

// Layout
$layout-post-single-width: 945px;
$layout-post-width: $layout-post-single-width - 305px;

$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
